<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>

    </style>
  </head>
  <body>


    <div id="app">
      {{ message }}
    </div>


    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>
    </div>


    <div id="app-3">
      <p v-if="seen">Now you see me</p>
    </div>


    <div id="example-animate">
      <button @click="show = !show">
        Toggle render
      </button>
      <transition
        name="custom-classes-transition"
        enter-active-class="animated tada"
        leave-active-class="animated bounceOutRight"
      >
        <p v-if="show">hello</p>
      </transition>
    </div>


    <div id="app-4">
      <ol>  
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>  


    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>


    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>


    <div id="app-7">
      <ol>
        <!--
        Now we provide each todo-item with the todo object
        it's representing, so that its content can be dynamic
        -->
        <todo-item v-for="todo in todos" v-bind:todo="todo"></todo-item>
        <!-- second way to do the same -->
        <div v-for="todo in todos" >
          <todo-item v-bind:todo="todo"></todo-item>
        </div>
      </ol>
    </div>


  </body>

  <link href="https://unpkg.com/animate.css@3.5.1/animate.min.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
  <script type="text/javascript" src="app.js"></script>
</html>